@model IEnumerable<WebPortal.Models.UserViewModel>
<div class="row">
    <h4>Users</h4>

    @foreach (var user in Model)
    {
        <p>
            <strong>
                @user.Email | @user.Role
            </strong>
        </p>
    }
</div>