@{
    ViewBag.Title = "About";
}
<h2>About Our Web Portal!</h2>
<h3>This is a Web Portal we built for Software Engineering!</h3>
<p>The idea of the application is to give a company a portal to manager their Admins, Managers, and Associates.</p>

<h3>Everyone</h3>
<p>Has the option to log in. (Top Right)</p>

<h3>Everyone with an account</h3>
<p>Can edit their own profile.</p>

<h3>Admins</h3>
<p>1. Can Register Users. (Top Right)</p>
<p>2. Can view/create/edit/delete new Roles.</p>
<p>3. Can view/create/edit/delete new Links.</p>
<p>4. Can view/create/delete Users.</p>

<h3>Managers</h3>
<p>1. Can view/create/edit/delete Links.</p>

<h3>Associates</h3>
<p>1. Can only view and visit their links links.</p>


<h3>Premade Accounts</h3>
<p>Email: Admin@email.com</p>
<p>Password: Admin1!</p>
<br />
<p>Email: Manager@email.com</p>
<p>Password: Manager1!</p>
<br />
<p>Email: Associate@email.com</p>
<p>Password: Associate1!</p>
