@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Welcome to Our Web Portal</h1>
    <p class="lead">This is a Web Portal project as part of the Fundamentals of Software Engineering course at University of Houston for Fall 2018.</p>
    <p>Try some of the Links Above! Click the About link to learn a little more!</p>
</div>
